---
import { Image } from 'astro:assets'
---

<div style="display: block; text-align: center; margin-top: 5em;">
<Image
  src="https://i0.wp.com/cdn.auth0.com/avatars/bm.png?ssl=1"
  format={'webp'}
  width={200}
  height={200}
  alt="Principal member" />
</div>
